<article id="container_popup" class={`fixed flex justify-center items-center h-screen w-full px-4 bg-black/40 `}>
  <section id="popup" class={`min-w-[400px] sm:w-[640px] sm:min-w-[640px] grid grid-cols-3 popUp_fadeIn`}>
    <figure class="col-span-1">
      <img src="https://imgcdn.terio.xyz/images/2024/07/24/luis_mi_pop_up.jpeg" class="w-full h-full object-cover rounded-tl-3xl rounded-bl-3xl" alt="">
    </figure>
    <div class="col-span-2 bg-gradient-to-r from-[#C3138B] from-0% via-[#AB117A] via-24% to-[#5D0929] to-100% rounded-tr-3xl rounded-br-3xl py-8 text-center space-y-6">
      <figure class="flex justify-end px-8">
        <svg id="closeButton" class="w-6 h-6 !text-white cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
        </svg>
      </figure>
      <h2 class="text-white text-center mb-5 text-4xl px-12">¡Última Oportunidad para Ver al Sol de México!</h2>
      <div class="px-8 space-y-6">
        <div>
          <p class="text-white font-extralight">No te pierdas el cierre de su exitosa gira</p>
          <p class="text-white font-extralight">¡Quedan <span class="font-semibold">pocos lugares</span>!</p>
          <p class="text-white font-extralight">Compra ahora con <span class="font-semibold">beneficios especiales</span> y paga a 3 o 6 msi.</p>
        </div>
        <button class="flex justify-center gap-4 bg-white w-full p-4 rounded-2xl !text-[#C3138B] font-semibold">
          <span>¡Compra Ya!</span>
          <img src="/ArrowRight.svg" alt="">
        </button>
        <a href="/terminos" class="text-sm text-white font-extralight inline-block">Consulta términos y condiciones</a>
      </div>
    </div>
  </section>
</article>

<script>
  const container_popup = document.getElementById('container_popup');
  const popup = document.getElementById('popup');
  const closeButton = document.getElementById('closeButton');

  if (closeButton && popup && container_popup) {
    closeButton.addEventListener('click', () => {
      popup.classList.remove('popUp_fadeIn');
      popup.classList.add('hidden');
      container_popup.classList.add('hidden');

    });
  }
</script>

<style>
.hidden {
  display: none;
}

.popUp_fadeIn {
  animation-name: popUp_fadeIn;
  -webkit-animation-name: popUp_fadeIn;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.popUp_fadeOut {
  animation-name: popUp_fadeOut;
  -webkit-animation-name: popUp_fadeOut;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes popUp_fadeIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popUp_fadeIn {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

@keyframes popUp_fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes popUp_fadeOut {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
}
</style>
