* {
  box-sizing: border-box;
}

body {
  background-color: #20182c;
}

h1 {
  font-size: calc(32px + (52 - 32) * ((100vw - 300px) / (2300 - 300)));
  font-weight: 600;
}

h3 {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / (2300 - 300)));
}

.contenedor {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem /* 16px */;
  padding-left: 1rem /* 16px */;
}

@media (min-width: 640px) {
  .contenedor {
    max-width: 640px;
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
  }
}

@media (min-width: 768px) {
  .contenedor {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .contenedor {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    max-width: 1024px;
    padding-right: 3rem /* 48px */;
    padding-left: 3rem /* 48px */;
  }
}

@media (min-width: 1280px) {
  .contenedor {
    max-width: 1280px;
    padding-right: 5rem /* 80px */;
    padding-left: 5rem /* 80px */;
  }
}

@media (min-width: 1536px) {
  .contenedor {
    max-width: 1536px;
    padding-right: 6rem /* 96px */;
    padding-left: 6rem /* 96px */;
  }
}

.bg-black2 {
  --tw-bg-opacity: 1;
  background-color: rgb(27 20 36 / var(--tw-bg-opacity));
}

.bg-rosa {
  --tw-bg-opacity: 1;
  background-color: rgb(198 21 139 / var(--tw-bg-opacity));
}

.border-rosa {
  border: 10px solid blue;
}

.btn-small {
  font-size: calc(14px + (14 - 14) * ((100vw - 300px) / (2300 - 300)));
  font-weight: 500;
}

.p-big {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (2300 - 300)));
  font-weight: bold;
}

.p-small {
  font-size: calc(11px + (13 - 11) * ((100vw - 300px) / (2300 - 300)));
}

.text-morado-light {
  --tw-text-opacity: 1;
  color: rgb(224 200 255 / var(--tw-text-opacity));
}

.text-morado-extra-light {
  --tw-text-opacity: 1;
  color: rgb(199 203 206 / var(--tw-text-opacity));
}

.text-rosa-extra-light {
  --tw-text-opacity: 1;
  color: rgb(224 200 255 / var(--tw-text-opacity));
}